.col-md-9 hr
{
    display: block;
    border: 0;
    height: 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 200px 100px;
    background-image: url('{% root %}/img/splitters/default.png');
}
